#!/usr/bin/nft -f
# ipv4/ipv6 Simple & Safe Firewall
# you can find examples in /usr/share/nftables/
flush ruleset

table inet filter {
  # block RFC 1918 networks
  chain rfc1928 {
  }
  chain log_drop {

  log level info
  drop

  }
  chain input {

    type filter hook input priority 0;

    # allow established/related connections
    ct state {established, related} accept
    #iifname "{{ interface }}" ip saddr { 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8 } jump log_drop

    # early drop of invalid connections
    ct state invalid drop

    # allow from loopback
    iifname lo accept

    # allow icmp
    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept

    # allow ssh
    tcp dport ssh accept

    ## allow http/s
    #tcp dport https accept
    #tcp dport http accept
    #tcp dport 8080 accept

    ## allow dns
    #udp dport 53 accept
    #tcp dport 53 accept

    ## allow dhcp
    #udp dport 67 accept

    # everything else
    reject with icmpx type port-unreachable
  }
  chain forward {
    type filter hook forward priority 0;
    accept
  }
  chain output {
    type filter hook output priority 0;
  }

}
table ip NAT {
  chain my_masquerade {
    type nat hook postrouting priority 100;
  }
  chain my_prerouting {
    type nat hook prerouting priority dstnat;
  }
}
