account gmail {
   set smtp-use-starttls
   set smtp={{ mail_server }}:{{ mail_port }}
   set smtp-auth=login
   set smtp-auth-user={{ mail_auth_user }}
   set smtp-auth-password={{ mail_auth_passwd }}
   set from="{{ service_name }} <root@gmail.com>"
}
