dhcp-range={{ lxd_bridge_name }},{{ lxd_dhcp_begin_addr }},{{ lxd_dhcp_end_addr }}
dhcp-option={{ lxd_bridge_name }},3,{{ lxd_bridge_addr }}
dhcp-option={{ lxd_bridge_name }},6,{{ lxd_bridge_addr }}

conf-dir=/etc/dnsmasq.d
