config: {}
networks: []
storage_pools:
- config: {}
  description: ""
  name: default
  driver: dir
profiles:
- config:
    user.network_mode: dhcp
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: {{ lxd_bridge_name }}
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: default
projects: []
cluster: null
