server {
    listen 80;
    listen [::]:80;
    server_name     {{ service_name }}.{{ domain_name }};

    #enforce https
    #return     301 https://$server_name$request_uri;
}

server {
    #listen          443 ssl http2;
    #listen          [::1]:443 ssl http2;
    server_name     {{ service_name }}.{{ domain_name }};

    #ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    #ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    #types_hash_bucket_size 64;

    location / {
        proxy_pass http://127.0.0.1:{{ service_port }} ;
    }
}
